<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcKxho3BeoHX7qqrljdZDudvkSYkoLhNc</string>
	<key>GCM_SENDER_ID</key>
	<string>1084759392823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oidner.ebuddy</string>
	<key>PROJECT_ID</key>
	<string>ebuddy-8204a</string>
	<key>STORAGE_BUCKET</key>
	<string>ebuddy-8204a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084759392823:ios:cd7a22d2d421522673b5b2</string>
</dict>
</plist>